
# ==============
# Snippets
# ==============
priority -50


snippet pyproject "Basic pyproject.toml" b
# pyproject.toml
[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "mylib-foo"  # as it would appear on PyPI
version = "0.42"
endsnippet

